.borderless {
  border: none;
  box-shadow: none;
  background: none;
}
.borderless:hover {
  border: none;
  box-shadow: none;
  background: none;
}

/* .list-item {
  border: 1px solid lightslategray;
} */